html,
body {
  font-family: "Roboto", sans-serif;
}


body {
  background: #ffffff;
  text-align: center;
}

.logo {
  height: 3rem;
}

.appbar {
  background: #f7d736;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.subtitle{
  padding-left: 0.5rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-card{
  box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 5px 10px rgba(0,0,0,0.24);
  padding: .7rem;
  border-radius: .5rem;
  margin: 2rem; 
  width:35%;
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}

.label{
  border:none;
  justify-content: left;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.form-card-title{
  border: none;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.autoresize{
  border: none;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.btn{
  border:none;
  background: #f7d736;
  width:100%;
  box-shadow: 0 2px 7px rgba(0,0,0,0.12), 0 2px 7px rgba(0,0,0,0.24);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.delete_btn{
  border:none;
  background: #ff0000;
  font-size: 0.5rem;
  width:1rem;

  box-shadow: 0 2px 7px rgba(0,0,0,0.12), 0 2px 7px rgba(0,0,0,0.24);
  border-radius: 0.2rem;
  padding: 0.1rem;
}

.update_btn{
  font-size: 0.5rem;
  display: flex;
  border:none;
  background: #2bf703;
  width:1.6rem;
  box-shadow: 0 2px 7px rgba(0,0,0,0.12), 0 2px 7px rgba(0,0,0,0.24);
  border-radius: 0.2rem;
  padding: 0.1rem;
}



.card {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 5px 10px rgba(0,0,0,0.24);
  margin: 0.5rem; 
  height: 7rem;
  width: 12rem;
  font-family: 'Permanent Marker', cursive;
  flex-direction: column;
  display: flex;
  justify-content: top;
  text-align: left;
  border-radius: 0.5rem;
}

.card-container{
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-title {
  color: #2c2c2c;
  font-family: 'Permanent Marker', cursive;
  font-size: 0.9rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-weight: bold;
  border: none;
  background-color: #ffffff00;
}

.card-content {
  color: #4c4c4c;
  width: 90%;
  height:84%;
  font-size: 0.7rem;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.2rem;
  align-self: center;
  justify-content: center;
  border: none;
  background-color: #ffffff00;
}

.card-color-1{
  background-color:#ead3a7 
}
.card-color-2{
  background-color:#9de0f5 
}
.card-color-3{
  background-color:#ef89ba 
}
.card-color-4{
  background-color:#fae890 
}
.card-color-5{
  background-color:#abe9c1 
}

.card-rotation-1{
  transform: rotate(1deg);

}

.card-rotation-2{
  transform: rotate(2deg);

}

.card-rotation-3{
  transform: rotate(3deg);

}

.card-rotation-4{
  transform: rotate(4deg);

}

.card-rotation-5{
  transform: rotate(5deg);

}

.card-rotation-6{
  transform: rotate(-1deg);

}

.card-rotation-7{
  transform: rotate(-2deg);

}

.card-rotation-8{
  transform: rotate(-3deg);

}

.card-rotation-9{
  transform: rotate(-4deg);

}

.card-rotation-10{
  transform: rotate(-5deg);

}

.card-rotation-11{
  transform: rotate(0deg);

}
